<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/js/axios.min.js" charset="utf-8"></script>
    <script src="/static/js/vue.js" charset="utf-8"></script>
</head>

<body>
    <ul>
        <li><a href="/generic/list/">点我使用Generic查看全部</a></li>
        <br>
        <li><a href="/generic/list/10/">点我使用Generic查看个别</a></li>
        <br>
        <li><a href="/api/list/">点我使用API查看全部</a></li>
        <br>
        <li><a href="/api/list/10/">点我使用API查看个别</a></li>
        <br>

        <div id="app">
            <p>C1C(=O)N(C)C(=O)C1</p>
            <input type="text" v-model:value="smiles" placeholder="please input smiles">
            <input type="button" value="search substruct" @click="submit">
        </div>

    </ul>

    <script>
        new Vue({
            el: '#app',
            data: {
                smiles: "C1C(=O)N(C)C(=O)C1",
                arr: [],
                next: "",
                previous: "",
            },
            methods: {
                //查询子结构信息
                submit() {
                    var self = this;
                    axios.get("/generic/substruct/", {
                        //参数列表
                        params: { smiles: self.smiles },
                    }).then(res => {
                        self.next = res.data.next;
                        self.previous = res.data.previous;
                        self.arr = res.data.results;
                        console.log(self.next);
                        console.log(self.previous);
                        //美化一下
                        console.log(JSON.parse(JSON.stringify(self.arr)))
                    })
                },
            }
        })
    </script>
</body>

</html>